<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ПРИВЕТ</h1>
    {% if user.is_authenticated %}
        <a class="navbar-link" href="{% url 'profile' %}">Профиль</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-but" type="submit">Выйти</button>
        </form>
    {% else %}
        <a class="navbar-link" href="{% url 'login' %}">Вход</a>
        <a class="navbar-link" href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
</body>
</html>